<%= form_with(model: [@restaurant, @comment], local: true) do |form| %>
  <% invalid = @comment.errors.include?(:message) %>
  <div class="row mb-4 justify-content-center">
    <div class="col-sm-12">
      <%= form.label :message, class: "d-none" %>
    </div>
    <div class="col-sm-7">
      <%= form.text_area :message, rows: 10, class: "form-control #{'is-invalid' if invalid}" %>
      <% if invalid %>
      <div class="invalid-feedback d-block">
        <% @comment.errors.full_messages_for(:message).each do |error_message| %>
          <%= error_message %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :restaurant_id, value: @restaurant.id %>
  </div>

  <div class="row justify-content-center">
    <div class="actions col-sm-7 ">
      <%= form.submit "Save Comment", class: "btn px-4 mb-4" %>
    </div>
  </div>
<% end %>
