<%= form_with(model: restaurant) do |form| %>

  <% invalid = restaurant.errors.include?(:name) %>
  <div class="row mb-4 justify-content-center">
    <div class="col-sm-1">
      <%= form.label :name, class: "col-form-label" %>
    </div>
    <div class="col-sm-6">
      <%= form.text_field :name, class: "form-control #{'is-invalid' if invalid}" %>
      <% if invalid %>
      <div class="invalid-feedback d-block">
        <% restaurant.errors.full_messages_for(:name).each do |error_message| %>
          <%= error_message %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <% invalid = restaurant.errors.include?(:city) %>
  <div class="row mb-4 justify-content-center">
    <div class="col-sm-1">
      <%= form.label :city, class: "col-sm-1 col-form-label" %>
    </div>
    <div class="col-sm-6">
      <%= form.text_field :city, class: "form-control #{'is-invalid' if invalid}" %>
      <% if invalid %>
      <div class="invalid-feedback d-block">
        <% restaurant.errors.full_messages_for(:city).each do |error_message| %>
          <%= error_message %>
          <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <% invalid = restaurant.errors.include?(:state) %>
  <div class="row mb-4 justify-content-center">
    <div class="col-sm-1">
        <%= form.label :state, class: "col-sm-1 col-form-label"  %>
    </div>
    <div class="col-sm-6">
      <%= form.text_field :state, class: "form-control #{'is-invalid' if invalid}" %>
      <% if invalid %>
      <div class="invalid-feedback d-block">
        <% restaurant.errors.full_messages_for(:state).each do |error_message| %>
          <%= error_message %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="actions col-sm-7 ">
      <%= form.submit class: "btn px-4 mb-4" %>
    </div>
  </div>
<% end %>
