<div class="p-4 container-fluid">

  <table class="table table-striped mx-auto mt-3 text-center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Will split</th>
        <th>Wont split</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.city %>, <%= restaurant.state %></td>
          <td><%= restaurant.will_split %></td>
          <td><%= restaurant.wont_split %></td>
          <td><%= link_to 'Vote', restaurant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= button_to 'Add New Restaurant', new_restaurant_path, method: :get, class: "d-block btn mb-4" %>
</div>
