<div class="p-4 container-fluid">

  <%= form_tag(restaurants_path, method: :get, class: "w-75 mx-auto") do %>
  <div class="row align-items-end gx-5 gy-3">
    <div class="col-md-5">
      <%= label_tag :restaurant_name, "Restaurant Name:", class: "form-label" %>
      <%= text_field_tag :restaurant_name, @restaurant_name, placeholder: "Name", class: "form-control" %>
    </div>
    <div class="col-md-5">
      <%= label_tag :restaurant_location, "Restaurant Location:", class: "form-label" %>
      <%= text_field_tag :restaurant_location, @restaurant_location, placeholder: "Location", class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= submit_tag "Search", class: "btn px-4" %>
    </div>
  </div>
  <% end %>

  <table class="table table-striped mx-auto mt-3 text-center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Will split</th>
        <th>Wont split</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.city %>, <%= restaurant.state %></td>
          <td><%= restaurant.will_split %></td>
          <td><%= restaurant.wont_split %></td>
          <td><%= link_to 'Vote', restaurant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="d-flex flex-column-reverse flex-md-row justify-content-between">
    <div id="add-restaurant-btn">
      <%= button_to 'Add New Restaurant', new_restaurant_path, method: :get, class: "d-block btn mb-4" %>
    </div>
    <div class="align-self-end <%= 'd-none' if alert %>">
      <nav class="mb-3">
        <ul class="pagination mb-1">
          <%= content_tag :li, class: "page-item" do %>
          <%= link_to 'First', restaurants_page_path(1), class: "page-link" %>
          <% end %>
          <%= content_tag :li, class: "page-item #{'disabled' if @page <= 1}" do %>
          <%= link_to 'Previous 10 Restaurants', restaurants_page_path(@page - 1), class: "page-link" %>
          <% end %>
          <%= tag.li class: "page-item #{'disabled' if @page >= @last_page}" do %>
          <%= link_to 'Next 10 Restaurants', restaurants_page_path(@page + 1), class: "page-link" %>
          <% end %>
          <%= tag.li class: "page-item" do %>
          <%= link_to 'Last', restaurants_page_path(@last_page), class: "page-link" %>
          <% end %>
        </ul>
      </nav>
      <p class="mt-0 text-end">Showing Page <%= @page %> of <%= @last_page %></p>
    </div>
  </div>

</div>
