<main class="mt-0 p-4 h-100">
  <p id="notice"><%= notice %></p>

  <table class="table table-striped mx-auto mt-3 text-center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Will split</th>
        <th>Wont split</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.city %>, <%= restaurant.state %></td>
          <td><%= restaurant.will_split %></td>
          <td><%= restaurant.wont_split %></td>
          <td><%= link_to 'Vote', restaurant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Restaurant', new_restaurant_path %>
</main>
