<div class="p-4 container-fluid">

  <%= form_tag(restaurants_path, method: :get, class: "w-75 mx-auto") do %>
  <div class="row align-items-end gx-5 gy-3">
    <div class="col-md-5">
      <%= label_tag :restaurant_name, "Restaurant Name:", class: "form-label" %>
      <%= text_field_tag :restaurant_name, @restaurant_name, placeholder: "Name", class: "form-control" %>
    </div>
    <div class="col-md-5">
      <%= label_tag :restaurant_location, "Restaurant Location:", class: "form-label" %>
      <%= text_field_tag :restaurant_location, @restaurant_location, placeholder: "Location", class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= submit_tag "Search", class: "btn px-4" %>
    </div>
  </div>
  <% end %>

  <table class="table table-striped mx-auto mt-3 text-center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Will split</th>
        <th>Wont split</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.city %>, <%= restaurant.state %></td>
          <td><%= restaurant.will_split %></td>
          <td><%= restaurant.wont_split %></td>
          <td><%= link_to 'Vote', restaurant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= button_to 'Add New Restaurant', new_restaurant_path, method: :get, class: "d-block btn mb-4" %>
</div>
