<div class="row d-flex flex-column m-0 p-4">
  <h2 class="text-center mb-4">Change Your Password</h2>

  <div class="d-flex flex-column">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="row mb-4 justify-content-center field">
      <div class="col-lg-2">
        <%= f.label :password, "New password", class: "col-form-label" %>
      </div>
      <div class="col-lg-6">
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
    </div>

    <div class="row mb-4 justify-content-center field">
      <div class="col-lg-2">
        <%= f.label :password_confirmation, "Confirm new password", class: "col-form-label" %>
      </div>
      <div class="col-lg-6">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
      <div class="actions col-lg-7 mt-1">
        <%= f.submit "Change my password", class: "btn px-4 my-4" %>
      </div>
    </div>


    <% end %>

    <div class="row justify-content-center">
      <div class="col-lg-7">
        <%= render "users/shared/links" %><br>
        <%= link_to 'Back to Home', restaurants_path %>
      </div>
    </div>
  </div>
</div>
